/*------------------------------------------------FOOTER----*/
.footer {
    text-align: center;
    width: 100%;
    display:inline-block;
    margin-top: 50px;
    margin-bottom: 0;
    color: #e3e3e3;
}